.maincontainer{
    height: 700px;
    width: 1340px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: ;
    
    
}
.container1{
    padding-top: 20px;
    margin-left: 60px;
    padding-right: 10px;
    background-image: url();
    
}
.container2{
    padding-top: 20px;
    margin-right:120px;
}
.container{
    height: 100px;
    width: 200px;
    padding:40px ;
    padding-left: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: grey;
}
.container3{
    margin-right: 20px;
    margin-top:20px ;
    height: 550px;
    width: 400px;
    float: right;
    border-radius: 10px;
    background-color: white;
}