.maincontainer{
    height: 620px;
    width: 1200px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-right: 150px;
    margin-right: 10px;
}
.containers-column-1{
    padding: 10px;
    padding-top: 20px;
    margin-left: 60px; 
}
.containers-column-2{
    padding: 10px;
    padding-top: 20px;
    margin-right: 150px;
}

.container{
    height: 180px;
    width: 200px;
    padding-left: 170px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: grey; 
    background-image: url('rtc-img.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
}
.names-sir{
    color: #e8f8fd;
    padding-left: 35px;
    padding-top: 150px;
    font-size: 18px;
}
.names-stud{
    color: #e8f8fd;
    padding-left: 100px;
    padding-top: 150px;
    font-size: 20px;
}
.cross-icon{
    width: 30px;
    float: right;
    margin: 5px;
}
.containers-column-3{
    width: 350px;
    height: 620px;
    background-color: aliceblue;
    border-radius: 10px;
}
.step1{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 8px;
}
.step1-img img{
    width: 18px;
}
.item{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
}
.item-img{
    width: 25px;
    border-radius: 50%;
    padding: 15px;
    margin-right: 20px;
    background-color: #e8f8fd;    
}
.font-size{
    font-size: 14px;
 }
 
.para-item{
    padding-left: 25px;
}
.text-1 {
    margin-right: 20px;
    width: 800px;
}
.text-1 b{
    font-size: 15px;
}